/* CSS Document */
html {

	background-color:#F6F6F6;

}

body {

    margin: 0;
    padding: 0;
    
}

h1 {

	font-family:Georgia, "Times New Roman", Times, serif; 
	color:#C63; 
	font-style:italic; 
	letter-spacing:-0.05em; 
	text-shadow: -1px -1px, 1px 1px #777676;
	font-size:2.6em; 
	margin:0 5px; 

}

h2, h4 { 

	font-family:Georgia, "Times New Roman", Times, serif; 
	color:#C63; 
	font-style:italic; 
	letter-spacing:-0.05em; 

}

h4 { 

	font-size:1.6em;
	margin:0 5px; 
}

p, li { 

	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
	font-size:0.85em; 
	color:#555; 
	line-height:1.8 
}

li {

	list-style-image: url(../images/estrela.png);

}

main {

	width:1024px; 
	margin:-1px auto 10px; 
	border:1px solid #ddd; 
	background-color:#FFF; 
	font-family:Arial, Helvetica, sans-serif;
	 
}

header { 

	width: 1024px; 
	height:102px;

}

#banner { 

	background-image: url("../images/topo-principal.png");

}

nav { 

	width: 1024px; 
	background-color: #5D240A;

}

nav ul { 

	list-style: none;
	margin: 0; 
	padding: 0;
	
}

nav ul li {

	display:inline-block; 
	margin-left: 3px;
	align-items: center;
		
}

nav ul li a { 

	
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1rem; 
	text-decoration: none;
	text-align: center; 
	color: #FFF;
	margin-right: 0px;
	padding: 15px 35px;
	margin-left: 40px;
	margin-bottom: 1px; 

}

nav ul li a:hover { 
				
		color: #B4531A;

}

article { 

		float:left; 
		margin:30px 20px;
		width:680px;
		text-align: justify;

}


article header hgroup h1 {
    
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 2em;
    font-style: italic;
	letter-spacing: -0.02em;
    color: #C63;
    
    margin: 0px;
    padding-top: 20px;
}

article header hgroup h5 {
    
    font-size: 1em;
    font-weight: 100;
    color: #ccc;
    margin: 0;
    
}

aside {

		float:left;
		width:230px;
		border-top:1px solid #cc6633;
		border-bottom:1px solid #cc6633;
		padding: 40px 10px 0;
		margin-right: 20px;
		margin-bottom: 20px;
		font-style: italic;
		background: url(../images/aspas.gif) no-repeat;

}

aside p {

		color: #999;
	
}

#aright{
		padding-top: 10px;
		padding-bottom: 20px;
}

#aright_top{
		padding-top: 35px;
		padding-bottom: 5px;
}

#aright_bottom{
		padding-top: 35px;
		padding-bottom: 60px;
}

#apoio {

		float:right; 
		width:300px; 
		margin-top:30px;

}

img{
	
	    border: 1px solid #C63;
}


footer { 

		clear:both; 
		width:1015px; 
		margin:0 auto; 
		font-size:0.75em; 
		text-align:center; 
		background-color: #5D240A;
		padding:5px;

}

footer p { 

color: #fff;

}

input {

	    display:block;
	    margin-bottom:10px;
	    border:1px solid #999;
	    padding:8px;
        border-radius:3px;
}

input:focus {

	    border:1px solid #ccc;
	    outline:none;

}

input[type=submit] {

	    width:275px;
	    color:#FFF;
	    background:linear-gradient(top, #F33, #933 );
	    background:-webkit-linear-gradient(top, #F33, #933 );
	    background:-moz-linear-gradient(top, #F33, #933 );
	    border:1px solid #333;
	    cursor:pointer;

}

#formSubscribeH{

	padding-top: 40px;
}

#formSubscribe{

	padding-top: 10px;
}